%nav
  %ul.nav.nav-pills
    %li
      .navbar-brand DrawTag
    .navbar-right.nav.nav-pills
      %li.active
        %a{ href: '#' } SignUp
      %li
        %a{ href: '#' } SignIn
      -# %li.dropdown
      -#   %a.dropdown-toggle{ href: '#', 'data-toggle' => "dropdown" }
      -#     Account 
      -#     %span.caret
      -#   %ul.dropdown-menu{ role: "menu" }
      -#     %li
      -#       %a{ href: '#' }Facebook
      -#     %li
      -#       %a{ href: '#' } Twitter
      -#     %li
      -#       %a{ href: '#' } Google
      -#     %li.divider
      -#     %li
      -#       %a{ href: '#' } LinkedIn